@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v670du');
	src:url('fonts/icomoon.eot?v670du#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?v670du') format('truetype'),
		url('fonts/icomoon.woff?v670du') format('woff'),
		url('fonts/icomoon.svg?v670du#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
	content: "\e604";
}
.icon-help:before {
	content: "\e600";
}
.icon-share:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-megaphone:before {
	content: "\e603";
}

