<div id="search-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">About</h2>
	<div class="small-12 columns">
		<p>A rewrite of the <a href="http://esri.github.io/100-lines-or-less-js/geohappenings/">original GeoHappenings app</a> that Nick Volpe and I developed for the esri 100 line JS app challenge at the Developer Summit in 2014.</p>
		<p>This application is built with <a href="http://ampersandjs.com/">Ampersand.js</a> and <a href="http://foundation.zurb.com/">Zurb Foundation</a>. <a href="http://gulpjs.com/">Gulp.js</a> is used to automate the front-end workflow (browserify, sass compilation, bundling, minification,development server) and the backing database is a <a href="https://www.firebase.com/">Firebase</a> instance.</p>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>