<ul class="chat-item">
	<li class="row">
		<span class="small-12 columns msg-title">
			<span class="msg-user" data-hook="name"></span>:&nbsp;<span data-hook="timeAgo"></span>
		</span>
		<span class="msg-text small-12 columns" data-hook="text"></span>
	</li>
</ul>