<div class="row popup-container">
	<div class="small-12 columns msg-title">
		<span class="msg-user">
			{{name}}
		</span>
		<span class="">
			{{timeAgo}}
		</span>
	</div>
	<div class="small-12 columns msg-text">
		<span>
			{{text}}
		</span>
	</div>
</div>
