<div id="share-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Share!</h2>
	<div class="small-12 columns">
		<input type="text" placeholder="Name / User" data-hook="name">
		<input type="text" placeholder="Message" data-hook="message">
	</div>
	<div class="small-12 columns">
		<button data-hook="get-location" type="button">Use Current Location</button>
		<button type="button">Select on Map</button>
		<button data-hook="share" type="button" class="success right">Share</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>