<div id="upload-modal" class="reveal-modal" data-reveal aria-labelledby="upload-title" aria-hidden="true" role="dialog">
	<h2 id="upload-title">Upload</h2>
	<div class="small-12 columns">
		<input type="file" placeholder="Select file" multiple>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>